:root {
  --blackish: #0a0906;
  --darker-accent-color: #00a078;
  --black: black;
  --white-2: white;
  --medium-accent: #49dfb9;
  --shadow-13-19-5: rgba(34, 39, 43, .09);
  --shadow-180-1-3-0: rgba(42, 46, 58, .25);
  --shadow-180-10-20: rgba(66, 87, 117, .14);
  --white: white;
  --accentcolor: #0fc;
  --gainsboro: #e2e4e6;
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

body {
  color: var(--blackish);
  height: 100%;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33em;
}

h1 {
  margin-top: 20px;
  margin-bottom: 18px;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.4em;
}

h2 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
}

h3 {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
}

a {
  color: var(--darker-accent-color);
  font-weight: 500;
  text-decoration: none;
}

.hero {
  flex-direction: column;
  height: 100vh;
  padding: 71px 32px;
  display: flex;
  position: relative;
}

.hero__header {
  color: #fff;
  margin-bottom: 32px;
  line-height: 1.4em;
}

.hero__container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 38px;
  padding-bottom: 38px;
  display: flex;
}

.hero__centered {
  max-width: 80%;
}

.hero__subtext {
  color: #fff;
  letter-spacing: 0;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 1.6em;
}

.body-wrapper {
  min-height: 100%;
  padding-bottom: 66px;
  position: relative;
}

.navbar {
  z-index: 2;
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar.is-on-white {
  background-color: var(--blackish);
}

.hero__background-effect {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.hero__background-color {
  z-index: -1;
  background-color: var(--blackish);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar__logo {
  width: 210px;
  height: 100%;
  min-height: 64px;
  padding-top: 19px;
  padding-left: 28px;
  padding-right: 28px;
}

.navbar__logo-link {
  height: 100%;
}

.navbar__menu {
  height: 100%;
  padding-left: 25px;
  padding-right: 15px;
}

.navbar__link {
  color: rgba(255, 255, 255, .9);
  border-bottom: 3px solid rgba(0, 255, 204, 0);
  height: 100%;
  min-height: 64px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
  text-decoration: none;
}

.navbar__link.w--current {
  color: #fff;
  border-bottom-color: #0fc;
}

.navbar__link.is-hidden-for-future {
  display: none;
}

.navbar__link-text {
  font-size: 15px;
}

.navbar__leftside {
  float: left;
  width: 20%;
}

.navbar__rightside {
  float: left;
  text-align: right;
  width: 80%;
}

.button {
  background-color: var(--white-2);
  color: var(--blackish);
  text-align: center;
  border-radius: 8px;
  padding: 10px 22px;
  font-size: 13px;
  font-weight: 600;
  transition: background-color .383s;
  display: inline-block;
}

.button:hover {
  background-color: var(--darker-accent-color);
  color: #fff;
}

.button.button--in-hero {
  margin-top: 25px;
}

.button.in-portfolio {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 6px 16px;
}

.button.in-portfolio:hover {
  background-color: #000;
  border-color: #fff;
}

.button.in-portfolio.is-black {
  background-color: var(--blackish);
  color: #fff;
}

.button.in-portfolio.is-black:hover {
  background-color: #2c2c2c;
}

.button.in-portfolio.is-black:active {
  background-color: #000;
}

.button.is-colored {
  background-color: var(--darker-accent-color);
  color: #fff;
  text-align: center;
}

.button.is-colored:hover {
  background-color: #34c7a2;
}

.button.is-colored:active {
  background-color: var(--blackish);
}

.button.is-black {
  color: #fff;
  letter-spacing: 0;
  background-color: #000;
}

.button.is-black:hover {
  background-color: var(--darker-accent-color);
}

.button.is-black:active {
  background-color: var(--blackish);
}

.hero__button-link {
  margin-top: 31px;
}

.skills__section {
  z-index: 0;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 50vh;
  padding: 112px 60px;
  display: flex;
  position: relative;
}

.skills__section.for-marketing-strategy {
  background-image: url('../images/strategy-background.jpg');
  background-position: 50%;
  background-size: cover;
}

.skills__section.for-coding {
  color: #fff;
  background-image: url('../images/coding.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.skills__section.for-music-production {
  color: #fff;
  background-image: url('../images/music.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.skills__section.for-photography {
  background-image: url('../images/photo1.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 740px;
  display: none;
}

.skills__section.for-video-editing {
  overflow: hidden;
}

.skills__section.for-final-cta {
  background-color: #fafafa;
}

.skills__container {
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.skills__container.for-centered-button {
  text-align: center;
}

.skills__image-on-left {
  width: 300px;
  height: 300px;
  position: relative;
}

.skills__image-on-left.for-arrow {
  background-image: url('../images/arrow6.png');
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 150px;
  flex: none;
  width: 179px;
  height: 243px;
  margin-left: -4px;
  margin-right: 4%;
}

.skills__image-on-left.for-film {
  z-index: 0;
  perspective: 590px;
  width: 180px;
  height: 290px;
  margin-top: -21px;
  margin-bottom: -20px;
  margin-right: 4%;
  overflow: visible;
}

.skills__text-content {
  flex: 1;
  max-width: 600px;
  margin-bottom: 15px;
}

.skills__text-content.for-video-editing {
  z-index: 1;
  position: relative;
}

.skills__text-content.is-coding {
  max-width: 410px;
}

.skills__header {
  max-width: 500px;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.4em;
}

.skills__subtext {
  max-width: 480px;
  margin-top: 31px;
  font-size: 16px;
  line-height: 1.9em;
}

.skills__learn-more-link {
  color: var(--darker-accent-color);
  margin-top: 19px;
  transition: color .3s;
}

.skills__learn-more-link:hover {
  color: var(--medium-accent);
}

.skills__learn-more-link.is-hidden-for-future {
  display: none;
}

.skills__dotted-background-left {
  z-index: -1;
  background-image: url('../images/background-left-side.png');
  background-position: 0;
  background-repeat: repeat-y;
  background-size: 174px;
  width: 180px;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.skills__dotted-background-right {
  background-image: url('../images/background-left-side.png');
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: 174px;
  width: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.skills__logos-image {
  background-image: url('../images/tools-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1;
  height: 290px;
  margin-top: -9px;
}

.footer {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__container {
  background-color: var(--blackish);
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer__leftside {
  float: left;
  width: 50%;
  padding-left: 32px;
}

.footer__link {
  color: rgba(255, 255, 255, .48);
  border-right: 1px #949494;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block;
}

.footer__link.is-last {
  border-right-style: none;
}

.footer__rightside {
  float: left;
  text-align: right;
  width: 50%;
  padding-right: 32px;
}

.skills__film-image-3d {
  background-image: url('../images/film3.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 133px;
  width: 180px;
  height: 800px;
  margin-top: -255px;
}

.main-content-wrapper {
  padding-top: 64px;
}

.main-content-wrapper.is-with-padding-bottom {
  padding-bottom: 64px;
}

.content-with-gray-background {
  background-color: #e2e4e6;
  padding: 23px 12px 12px;
}

.cards {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card {
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 21px -4px rgba(10, 9, 6, .42);
}

.card.with-hero-image {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  max-width: 1500px;
  overflow: visible;
}

.card.with-hero-image.with-overflow-visible {
  overflow: visible;
}

.card.with-hero-image.with-bottom-margin {
  margin-bottom: 46px;
}

.cards__card-holder {
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 60px 80px;
  transition: max-height .8s, margin .4s, opacity .4s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cards__card-holder.hidden {
  opacity: 0;
  max-height: 0;
  margin-bottom: 0;
}

.cards__card-holder.for-full-width-row {
  margin-bottom: 0;
}

.cards__card-holder.for-full-width-row.with-bottom-padding {
  padding-bottom: 48px;
}

.cards__card-holder.is-music {
  padding-top: 19px;
  padding-bottom: 43px;
}

.card__image-main {
  float: left;
  flex: 1;
  width: 100%;
  max-width: 80vw;
  position: relative;
}

.card__image-main.with-standard-image {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.card__image-main.with-standard-image.is-music-widget {
  flex: 1;
}

.card__text-near-image {
  float: left;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: flex-start;
  max-width: 580px;
  padding: 40px 0;
  display: flex;
}

.card__text-near-image.is-with-white-text {
  color: #fff;
}

.card__text-near-image.is-music-widget {
  max-width: none;
}

.card__content {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 13px;
}

.card__tags {
  display: none;
}

.tag {
  background-color: #dadada;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  margin-right: 6px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
  line-height: 20px;
  display: inline-block;
}

.tag.on-dark {
  border-color: #fff;
}

.card__date {
  opacity: .59;
  font-size: 13px;
}

.card__paragraph-text {
  margin-top: 14px;
  font-size: 13px;
  line-height: 1.7em;
}

.card__subtitle {
  margin-bottom: 2px;
  font-weight: 600;
}

.card__paragraph {
  line-height: 1.7em;
}

.card__list {
  padding-left: 18px;
}

.card__list-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.transparent-filler-for-proportions.for-smartphone {
  margin-bottom: 10%;
}

.transparent-filler-for-proportions.for-zapping {
  margin-right: 12px;
}

.submenu {
  padding-top: 19px;
  padding-bottom: 19px;
}

.submenu.is-hidden-for-future {
  display: none;
}

.submenu__container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.submenu__navbar {
  text-align: center;
  padding-left: 17px;
  padding-right: 17px;
}

.submenu__nav-filter-button {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 18px;
  padding: 4px 10px;
  font-size: 15px;
  display: inline-block;
}

.submenu__nav-filter-button:hover {
  background-color: #e6e9eb;
}

.submenu__nav-filter-button.is-active {
  background-color: var(--darker-accent-color);
  color: #fff;
}

.ghost-button {
  border: 1px solid var(--darker-accent-color);
  color: var(--darker-accent-color);
  border-radius: 4px;
  padding: 9px 16px;
  transition: background-color .4s;
  display: inline-block;
}

.ghost-button:hover {
  border-color: var(--medium-accent);
  background-color: var(--medium-accent);
  color: #fff;
}

.card__more-button-holder {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}

.card__more-button-holder.with-additional-margin {
  margin-bottom: 75px;
}

.card__image-absolute {
  border-top-left-radius: 5px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.card__image-absolute.for-msws {
  z-index: 0;
  background-image: linear-gradient(335deg, #f90, #fae969);
  border-radius: 5px 5px 0 0;
}

.card__image-absolute.for-rymujto {
  background-image: linear-gradient(152deg, #fff, #dadada);
  right: 0%;
}

.card__image-absolute.for-zapping {
  background-image: radial-gradient(circle at 0 0, #e12d28, rgba(90, 15, 27, .46) 59%, rgba(26, 4, 16, 0) 83%);
}

.card__image-absolute.for-moodlight {
  background-image: linear-gradient(148deg, #0a1f30, rgba(1, 9, 24, .46) 33%, rgba(0, 0, 0, 0));
}

.card__image-absolute.with-overflow-visible {
  overflow: visible;
}

.card__image-absolute.for-internetowy-kantor {
  background-image: linear-gradient(137deg, rgba(235, 235, 236, .4), #6e737b 56%);
}

.browser-widget {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 33px 80px -9px rgba(49, 55, 70, .25);
}

.browser-widget.with-light-border {
  border: 2px solid #000;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.browser-widget.for-bocian {
  opacity: 1;
  border: 1px solid #8d8d8d;
  box-shadow: 0 33px 80px -9px rgba(41, 34, 34, .19);
}

.browser-widget.for-egnyte {
  bottom: auto;
  box-shadow: 0 33px 80px -9px rgba(0, 43, 59, .49);
}

.browser-widget.without-box-shadow {
  box-shadow: none;
}

.card__image-on-left-bottom-vignette {
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .07));
  height: 100px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__image-on-left-bottom-vignette.is-above-image {
  z-index: 1;
}

.card__image-on-left-bottom-vignette.is-above-image.is-only-visible-on-mobile {
  display: none;
}

.card__image-on-left-bottom-vignette.is-darker {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
}

.card__image-on-left-fullscreen-vignette {
  background-image: radial-gradient(circle, rgba(36, 37, 41, 0) 9%, rgba(36, 37, 41, .1));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__fullscreen-background {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__fullscreen-background.for-msws {
  background-image: linear-gradient(326deg, #f90, #fae969);
}

.card__fullscreen-background.for-moodlight {
  background-image: linear-gradient(308deg, #000, #010918 42%, #0a1f30);
}

.card__fullscreen-background.for-rymujto {
  background-image: linear-gradient(144deg, #fff, #e9e9e9);
}

.card__fullscreen-background.for-zapping {
  background-image: radial-gradient(circle at 23% -3%, #e12d28, #5a0f1b 64%, #1a0410);
}

.card__fullscreen-background.for-egnyte {
  background-image: linear-gradient(316deg, #049890, #257e8a 46%, #00435d 86%);
}

.card__fullscreen-background.for-bocian {
  opacity: .87;
  background-image: url('../images/APC_014944.jpg');
  background-position: 100%;
  background-size: contain;
}

.card__fullscreen-background.for-lookcheck {
  background-color: #fff;
}

.card__fullscreen-background.for-generic-image {
  background-image: linear-gradient(#eee, #eee);
}

.smartphone-widget {
  border-radius: 15px;
  width: 200px;
  height: 396px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 2s, box-shadow 2s;
  display: block;
}

.smartphone-widget.is-3d-isometric {
  transform-style: preserve-3d;
  transform: rotateX(60deg)rotateY(0)rotateZ(-45deg);
  box-shadow: -7px 6px 0 5px #131313;
}

.smartphone-widget.for-lookcheck {
  height: 376px;
}

.smartphone-widget__outer-phone {
  background-color: #030302;
  background-image: linear-gradient(313deg, var(--blackish), #444);
  border-radius: 13px;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 23px 80px -12px rgba(5, 6, 8, .45), -1px 4px #666;
}

.smartphone-widget__screen-wrapper {
  position: absolute;
  top: 31px;
  bottom: 28px;
  left: 5px;
  right: 5px;
}

.smartphone-widget__speaker {
  background-color: rgba(82, 82, 82, .67);
  width: 60px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
}

.smartphone-widget__camera {
  background-color: #25292c;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 8px;
  left: 13px;
}

.screencast-video {
  z-index: 1;
  box-shadow: 0 13px 19px -5px var(--shadow-13-19-5), 0 1px 3px 0 var(--shadow-180-1-3-0), 0 10px 20px 0 var(--shadow-180-10-20);
  border-radius: 8px;
  flex-direction: column;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.screencast-video.in-smartphone {
  max-height: 100%;
  overflow: visible;
}

.browser-widget__bar {
  z-index: 2;
  background-color: #e9e9e9;
  border: 1px rgba(0, 0, 0, .51);
  border-radius: 5px 5px 0 0;
  height: 20px;
  margin-bottom: -1px;
  position: relative;
}

.browser-widget__title {
  color: #74726d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  line-height: 21px;
  display: block;
}

.screencast-video__embed {
  border-radius: 8px;
  flex-direction: column;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.browser-widget__bar-buttons {
  float: left;
  width: 80px;
  height: 18px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.browser-widget__bar-button-circle {
  float: left;
  border: 1px solid #9c9c9c;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.skills__centered-button {
  margin-top: 19px;
  margin-left: 10px;
  margin-right: 10px;
}

.skills__centered-container {
  margin-top: -14px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contact-wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  display: flex;
}

.contact-email-text {
  text-align: center;
  font-size: 22px;
}

.contact__or-text {
  padding-top: 14px;
  padding-bottom: 14px;
}

.card__image-on-left-bottom-vignette-copy {
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .07));
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__image-on-left-bottom-vignette-copy.is-above-image {
  z-index: 1;
}

.card__image-on-left-bottom-vignette-copy.is-above-image.is-only-visible-on-mobile {
  display: none;
}

.card__bottom-small-shadow {
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .07));
  height: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__bottom-small-shadow.is-above-image {
  z-index: 1;
}

.card__bottom-small-shadow.is-above-image.is-only-visible-on-mobile, .card__bottom-small-shadow.is-hidden {
  display: none;
}

.portfolio__img {
  border-radius: 8px;
  width: 100%;
  max-width: none;
  display: block;
}

.portfolio__internetowy-kantor-link {
  color: #579b12;
}

.portfolio-standard-image {
  box-shadow: 0 10px 20px 0 var(--shadow-180-10-20), 0 1px 3px 0 var(--shadow-180-1-3-0), 0 13px 19px -5px var(--shadow-13-19-5);
  border-radius: 8px;
  overflow: hidden;
}

.portfolio-standard-image.is-no-shadow {
  box-shadow: none;
}

.proportions-image-wrapper.with-bottom-margin {
  padding-bottom: 56px;
}

.proportions-img__img {
  opacity: 0;
  width: 100%;
}

.portfolio__iframe-widget {
  width: 100%;
}

.portfolio__iframe-widget.is-youtube {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.skills__button-holder {
  margin-top: 29px;
}

.music-widget.is-youtube {
  padding-top: 56.25%;
}

.portfolio-embed {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.portfolio-embed.is-hidden {
  display: none;
}

.portfolio-embed__holder {
  box-shadow: 0 10px 20px 0 var(--shadow-180-10-20), 0 1px 3px 0 var(--shadow-180-1-3-0);
  background-color: #fafafa;
  border-radius: 7px;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  height: 100%;
  padding-top: 64.25%;
  display: flex;
  overflow: hidden;
}

.portfolio-embed__iframe {
  border: 1px #999;
  border-radius: 7px;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.portfolio-cover {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  padding: 112px 90px;
  display: flex;
}

.portfolio-cover__row {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.portfolio-cover__texts {
  flex: 0 auto;
  padding-right: 93px;
}

.portfolio-cover__illustration {
  flex: 1 0 50%;
}

.portfolio-cover__p {
  color: var(--blackish);
  max-width: 500px;
  font-size: 16px;
  line-height: 1.7em;
}

.portfolio-cover__button-holder {
  margin-top: 30px;
}

.portfolio-cover__text-more {
  color: var(--blackish);
  max-width: 320px;
  margin-top: 27px;
  font-size: 14px;
  line-height: 1.7em;
}

.portfolio-cover__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-cards {
  padding-bottom: 100px;
}

.generic-tagline {
  opacity: .6;
  letter-spacing: .03em;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.redirect-notice {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 56px;
  padding-right: 56px;
  font-size: 16px;
  line-height: 1.7em;
  display: flex;
}

.body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-row {
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-row__pic {
  border-radius: 1000px;
  width: 128px;
  height: 128px;
  margin-right: 43px;
  overflow: hidden;
}

.contact-row__text-row {
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.contact-row__text-icon {
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 18px;
  display: flex;
}

.contact-row__text-text {
  font-size: 16px;
}

.contact-heading {
  margin-top: -66px;
  margin-bottom: 51px;
}

.contact-row__text-link {
  color: var(--blackish);
}

.contact-row__text-link:hover {
  text-decoration: underline;
}

.subpage-heading__h {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-heading {
  max-width: 500px;
}

.subpage-heading {
  padding: 42px 32px;
}

.much-more-heading {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
}

.button-link-block {
  flex-flow: column;
  display: flex;
}

.portfolio-video-image-background {
  border-radius: 8px;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  overflow: visible;
}

.portfolio-video-image-background.is-egnyte {
  padding-top: 60.5%;
}

.portfolio-video-image-background.is-bocian {
  border: 1px solid #383838;
  padding-top: 76.25%;
}

.portfolio-video-image-background.is-zapping {
  padding-top: 73.25%;
}

.video-play-pause-button {
  margin-left: auto;
  margin-right: auto;
  bottom: -21px;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1280px) {
  .cards__card-holder {
    padding-left: 60px;
    padding-right: 60px;
  }

  .much-more-heading {
    text-align: center;
    padding: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .cards__card-holder {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 991px) {
  .body-wrapper {
    padding-bottom: 148px;
  }

  .footer__leftside {
    text-align: center;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer__link {
    color: #fff;
    text-align: left;
    border-right-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
  }

  .footer__link.is-small-text {
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
  }

  .footer__rightside {
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 14px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
  }

  .content-with-gray-background {
    padding-top: 12px;
  }

  .card.with-hero-image {
    margin-top: 0;
  }

  .cards__card-holder {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .card__image-main {
    flex: auto;
    width: 100%;
    margin-bottom: 50px;
  }

  .card__text-near-image {
    width: 100%;
    max-width: none;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .card__text-near-image.is-music-widget {
    flex: 0 auto;
  }

  .card__content {
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
  }

  .transparent-filler-for-proportions {
    width: 100%;
  }

  .transparent-filler-for-proportions.for-smartphone {
    margin-bottom: -1px;
  }

  .transparent-filler-for-proportions.for-moodlight {
    margin-bottom: -50px;
  }

  .card__image-absolute, .card__image-absolute.for-msws {
    right: 0%;
  }

  .card__image-absolute.for-egnyte {
    margin-right: 0;
  }

  .browser-widget {
    right: 16px;
  }

  .card__image-on-left-bottom-vignette.is-above-image.is-only-visible-on-mobile {
    display: block;
  }

  .smartphone-widget {
    top: 34px;
  }

  .card__image-on-left-bottom-vignette-copy.is-above-image.is-only-visible-on-mobile, .card__bottom-small-shadow.is-above-image.is-only-visible-on-mobile {
    display: block;
  }

  .portfolio__img {
    object-fit: cover;
  }

  .proportions-image-wrapper {
    max-width: none;
  }

  .proportions-image-wrapper.with-bottom-margin {
    padding-bottom: 0;
  }

  .proportions-img__img, .portfolio__iframe-widget {
    width: 100%;
  }

  .portfolio-cover {
    padding-top: 84px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .portfolio-cover__row {
    flex-direction: column;
    align-items: stretch;
  }

  .portfolio-cover__texts {
    margin-bottom: 54px;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height: auto;
    min-height: 100vh;
    padding-bottom: 59px;
  }

  .hero__header {
    font-size: 32px;
  }

  .hero__subtext {
    font-size: 16px;
  }

  .navbar {
    background-color: var(--black);
    position: static;
    top: auto;
    left: auto;
    right: auto;
  }

  .hero__background-effect {
    margin: auto;
    display: block;
  }

  .navbar__logo {
    min-height: 54px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar__menu {
    text-align: center;
    font-size: 15px;
  }

  .navbar__link {
    min-height: 41px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 8px;
  }

  .navbar__link-text {
    font-size: 13px;
  }

  .navbar__leftside {
    text-align: center;
    width: 100%;
  }

  .navbar__rightside {
    z-index: 2;
    background-color: var(--black);
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .skills__section.with-logos {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .skills__container {
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
  }

  .skills__container.with-logos {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills__image-on-left.for-arrow {
    background-position: 50%;
    margin-right: 0%;
  }

  .skills__image-on-left.for-film {
    width: 170px;
    height: 220px;
    margin-top: -29px;
    margin-bottom: -3px;
    margin-right: 0%;
    transform: rotate(90deg);
  }

  .skills__learn-more-link {
    border: 1px solid var(--darker-accent-color);
    border-radius: 4px;
    margin-top: 19px;
    padding: 13px 15px;
    font-size: 18px;
  }

  .skills__dotted-background-left {
    background-position: -11px 0;
    width: 60px;
  }

  .skills__dotted-background-right {
    background-position: 4px 0;
  }

  .skills__logos-image {
    background-position: 0%;
    flex: none;
    width: 100%;
    margin-left: 0%;
  }

  .skills__film-image-3d {
    width: 160px;
    margin-top: -323px;
  }

  .main-content-wrapper {
    padding-top: 0;
  }

  .cards__card-holder {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card__image-main {
    max-width: 100vw;
  }

  .card__image-main.for-smartphone {
    min-height: 420px;
  }

  .card__text-near-image {
    flex: 0 auto;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .card__content {
    padding-left: 0;
    padding-right: 0;
  }

  .submenu__nav-filter-button {
    margin-right: 4px;
    font-size: 14px;
  }

  .portfolio-embed {
    justify-content: flex-start;
  }

  .portfolio-cover {
    padding-bottom: 104px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .subpage-heading {
    padding-left: 58px;
    padding-right: 58px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 32px;
  }

  .hero {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .hero__centered {
    max-width: 100%;
  }

  .body-wrapper {
    padding-bottom: 193px;
  }

  .navbar__menu {
    padding-left: 8px;
    padding-right: 8px;
  }

  .navbar__leftside, .navbar__rightside {
    width: 100%;
  }

  .skills__section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .skills__section.for-photography {
    background-position: -276px 0;
  }

  .skills__section.for-final-cta {
    padding-bottom: 124px;
  }

  .skills__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills__header {
    font-size: 32px;
  }

  .skills__logos-image {
    height: 261px;
  }

  .footer__rightside {
    flex-direction: column;
  }

  .card.with-hero-image {
    margin-top: 0;
  }

  .cards__card-holder {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .card__image-main {
    margin-bottom: 32px;
  }

  .card__text-near-image {
    justify-content: flex-start;
    padding-top: 20px;
  }

  .card__content {
    padding-left: 0;
    padding-right: 0;
  }

  .card__date, .card__paragraph-text {
    font-size: 14px;
  }

  .transparent-filler-for-proportions.for-smartphone {
    margin-bottom: 182px;
  }

  .submenu {
    padding-bottom: 13px;
  }

  .submenu__nav-filter-button {
    margin-bottom: 8px;
  }

  .card__more-button-holder {
    flex-flow: column;
    align-self: stretch;
    align-items: stretch;
  }

  .screencast-video {
    position: relative;
  }

  .skills__centered-button, .skills__centered-container, .skills__button-holder, .skills__button-link {
    flex-direction: column;
    display: flex;
  }

  .contact-row {
    flex-direction: column;
  }

  .contact-row__pic {
    margin-bottom: 31px;
    margin-right: 0;
  }

  .contact-heading {
    margin-bottom: 33px;
  }

  .subpage-heading {
    padding-left: 24px;
    padding-right: 24px;
  }

  .portfolio-video-image-background {
    border-radius: 8px;
  }
}


@font-face {
  font-family: 'Din1451alt';
  src: url('../fonts/din1451alt-webfont.woff2') format('woff2'), url('../fonts/din1451alt-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Merlo';
  src: url('../fonts/Merlo-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}