body {
  background: #222;
}

.viewport__wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.viewport__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: translate3d(50%, 50%, 0);
          transform: translate3d(50%, 50%, 0);
}
.viewport__moving {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.618s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.618s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.618s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.618s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.618s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.background__ring {
  border: 1px solid #aaa;
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  position: absolute;
}
.background__ring.is-0 {
  width: 15.276px;
  height: 15.276px;
}
.background__ring.is-1 {
  width: 40px;
  height: 40px;
}
.background__ring.is-2 {
  width: 64.72px;
  height: 64.72px;
}
.background__ring.is-3 {
  width: 104.71696px;
  height: 104.71696px;
}
.background__ring.is-4 {
  width: 169.43204128px;
  height: 169.43204128px;
}
.background__ring.is-5 {
  width: 274.141042791px;
  height: 274.141042791px;
}
.background__ring.is-6 {
  width: 443.5602072359px;
  height: 443.5602072359px;
}
.background__ring.is-7 {
  width: 717.6804153077px;
  height: 717.6804153077px;
}
.background__ring.is-8 {
  width: 1161.2069119678px;
  height: 1161.2069119678px;
}
.background__ring.is-9 {
  width: 1878.832783564px;
  height: 1878.832783564px;
}
.background__ring.is-10 {
  width: 3039.9514438065px;
  height: 3039.9514438065px;
}
.background__ring.is-11 {
  width: 4918.6414360789px;
  height: 4918.6414360789px;
}
.background__ring.is-12 {
  width: 7958.3618435757px;
  height: 7958.3618435757px;
}

.circle {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.circle.is-destroyed {
  -webkit-transform: scale3d(0.01, 0.01, 1);
          transform: scale3d(0.01, 0.01, 1);
}
