body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#startButton {
    margin-top: 10px;
}

#canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
